*, a:active, a:after, a:before, a:visited, a:any-link{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior:smooth;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  body {
    font-family: "Poppins", sans-serif;
    background-color: #F2F2F2;
  }

  header {
    background-color: #0D0D0D;
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 1;
  }

  header h1 {
    padding-left: 4vw;
    font-size: x-large;
  }

  .hidden-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vw;
    transition: 0.5s;
  }

  #sand {
    display: flex;
    cursor: pointer;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 7vh;
    height: 7vh;
    padding: 2.5vw;
    background-color: #F2F2F2;
    border-radius: 50%;
    transition: 0.5s;
  }

  #sand:hover {
    background-color: #0D0D0D;
    border: solid #F2F2F2 0.3vh;
    transition: 0.5s;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 9vw;
    height: 0.6vh;
    background-color: #0D0D0D;
    border-radius: 40px;
    transition: 0.4s;
  }

    /* cod w3 schools com algumas alterações */
  
  /* .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2vw, 1vh);
    transform: rotate(-45deg) translate(-2vw, 1vh);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2vw, -1.2vh);
    transform: rotate(45deg) translate(-2vw, -1.2vh);
  } */

  .opened-box {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    width: 65vw;
    background-color: #F2F2F2;
    border-radius: 10px;
    top: 1vh;
    right: 1vh;
    transition: 0.5s;
  }

  .opened-box nav {
    width: 90%;
    height: 75%;
  }

  .opened-box ul {
    list-style:none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
  }

  .opened-box a{
    width: 80%;
  }

  .opened-box a li:hover {
    transform: scale(1.1);
    color: #04d9d9;
  }

  #sticky-home {
    background-color: #0D0D0D;
    position:sticky;
    width: 5vw;
    height: 10vh;
    border-radius: 10px 0 0 10px;
    top: 80vh;;
    left: 98vw;
    transition: 0.4s;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  #sticky-home i {
    display: none;
  }

  #sticky-home:hover {
    width: 10vh;
    transition: 0.4s;
  }

  #sticky-home:hover i {
    display: block;
    color: #F2F2F2;
    font-size: x-large;
  }

  #sticky-home i:hover {
    color:#04BF8A;
  }

  .hidden {
    display: none;
  }

  .opened {
    display: block;
  }

  .master-box {
    box-sizing: border-box;
    width: 85vw;
    height: 80vh;
    margin: 12.5vh auto 7.5vh auto;
    border-radius: 40px;
    transition: 0.4s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .master-box h1 {
    color: #04D9D9;
  }

  .master-box h2 {
    text-align: center;
    color: #BF6B04;
    height: 10%;
  }

  .master-box h3 {
    text-align: center;
    color: #04D9D9;
    flex-shrink: 1;
    font-size:medium;
  }

  .master-box i:hover {
    color: #04BF8A;
  }

  .master-box p {
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1vh;
  }

  .master-box a {
    justify-self: flex-end;
    margin-bottom: 1vh;
  }

  .master-box .non-btt:hover {
    color: inherit;
  }

  #home-chaser {
    position: absolute;
    top: 0;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
  }

  #hello-world {
    text-align: center;
    align-items: stretch;
    background-image: url(./imagens/construction-1921518.jpg);
    background-size: cover;
    margin: -7.5vh auto 7.5vh auto;
    color: #F2B33D;
  }

  #hello-world p {
    color: #F2B33D;
    flex-grow: unset;
  }

  #first-call {
    margin-top: 1%;
    flex-grow: 1;
  }

  #call-images {
    display: flex;
    align-items: flex-start;
  }

  #perfil {
    border-radius: 50%;
    align-self: flex-start;
    width: 35%;
    margin: 0 7vw;
  }

  #shortcut-logos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly ;
    align-items: flex-start;
  }

  #shortcut-logos img {
    width: 7vw;
    height: 7vw;
    opacity: 0.6;
    margin-top: 1vh;
  }

  #shortcut-logos img:hover {
    opacity: 1;
  }
  .btt {
    color: #F2B33D;
    text-decoration: none;
    border-radius: 10px;
    border: solid #F2B33D 0.5vh;
    transition: 1s;
    opacity: 0.6;
    text-align: center;
  }

  .btt:hover {
    background-color: #0D0D0D;
    border:solid #04d9d9 0.5vh;
    color: #04d9d9;
    transition: 1s;
    opacity: 1;
  }

  #saiba-mais {
    flex-grow: 3;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #know-more {
    margin: 2vh 0;
    width: 50vw;
  }

  #welcome-aboard ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    list-style: none inside;
  }

  #greetings-chaser {
    position: absolute;
    top: 100vh;
  }

  #port-chaser {
    position: absolute;
    top: 192.5vh;
  }

  #area-one-chaser {
    position: absolute;
    top: 285vh;
  }

  #area-two-chaser {
    position: absolute;
    top: 377.5vh;
  }

  #area-three-chaser {
    position: absolute;
    top: 470vh;
  }

  #final-chaser {
    position: absolute;
    top: 562.5vh;
  }

  #selecoes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }

  #guia {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 60%;
  }
  
  #external {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    flex-basis: 45%;
  }

  #external a {
    width: 65vw;
  }

  footer {
    background-color: #0D0D0D;
    color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 5vh;
    bottom: 0;
    z-index: 1;
  }

  #contatos {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-basis: 40%;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 4vh;
    transition: 0.5s;
  }

  .opened-cont {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    opacity: 0.8;
  }

  .footer-spans {
    transform: rotate(270deg);
    font-size:small;
    width: 25vw;
    margin-top: 10vw;
  }

  #gmail-ico {
    width: 6vw;
    margin-bottom: 1vh;
  }

  .contact i {
    margin-bottom: 1vh;
  }

  div.opened-cont.linkedin {
    background-color: #0A66C2;
  }

  div.opened-cont.gmail {
    background-image: linear-gradient(#4285F4, #C5221E, #EA4335, #FBBC04, #34A853 );
  }

  div.opened-cont.whatsapp {
    background-color: #45C655;
  }

  div.opened-cont.github {
    background-color: #24292F;
  }

  .feedback {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: inherit;
  }

  .feedback h6 {
    margin-right: 1vh;
  }

  .feedback:hover {
    cursor: pointer;
  }

  .feedback-opened {
    width: 100vw;
    height: 70vh;
    align-self: flex-end;
    background-color: #0D0D0D;
    transition: 0.6s;
    border-radius: 20px 20px 0 0;
    justify-content: flex-start;
  }

  #barra-modal form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }

  textarea {
    width: 80%;
  }

  .sm-hidden {
    display: none;
  }

}

@media (min-width: 374px) {
  /* pequena diferença em display do título de cada área */
  .sm-hidden {
    display: unset;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
