*, a:active, a:after, a:before, a:visited, a:any-link{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
  scroll-behavior:smooth;
  /* overflow: hidden; */
}

html {
  scroll-snap-type: y mandatory;
}

body {
  scroll-snap-type: y mandatory;
}

.main-box {
  scroll-snap-align: center;
}


@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  #home-chaser {
    position: absolute;
    top: 0;
  }

  #greetings-chaser {
    position: absolute;
    top: 100vh;
  }

  #port-chaser {
    position: absolute;
    top: 200vh;
  }

  #area-one-chaser {
    position: absolute;
    top: 300vh;
  }

  #area-two-chaser {
    position: absolute;
    top: 400vh;
  }

  #area-three-chaser {
    position: absolute;
    top: 500vh;
  }

  #final-chaser {
    position: absolute;
    top: 600vh;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: #F2F2F2;
  }

  header {
    background-color: #0D0D0D;
    color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index:2;
    overflow: visible;
  }

  header h1 {
    padding-left: 4vw;
    font-size: x-large;

  }

  .hidden-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .sanduiche {
    display: flex;
    cursor: pointer;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
    width: 6vh;
    padding: 0.5vh;
    margin-right: 0.6rem;
    border: solid #F2B33D 0.4vh;
    border-radius: 50%;
    transition: 0.5s;
    
  }

  .sanduiche:hover {
    border:solid #04d9d9 0.4vh;
    background-color: #0D0D0D;
    transition: 0.5s;
  }

  .bar1 {
    display: flex;
    justify-content: center;
  }

  .bar1-1, .bar1-2 {
    width: 1.9vh;
    height: 0.6vh;
    background-color: #F2B33D;
    transition: 0.4s;
    position: absolute;
  }

  .sanduiche:hover .bar1-1 {
    transform: rotate(45deg) translate(0.25vh, -0.25vh);
    transition: 0.4s;
  }

  .sanduiche:hover .bar1-2 {
    transform: rotate(-45deg) translate(-0.25vh, -0.25vh);
    transition: 0.4s;

  }

  .bar1-1 {
    border-radius: 40px 0 0 40px;
    margin: -1.6vh 1.9vh 0.6vh auto;
    animation-duration: 2s;
    animation-name: clickMenuBar11;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
  }

  .bar1-2 {
    border-radius: 0 40px 40px 0;
    margin: -1.6vh auto 0.6vh 1.9vh;
    animation-duration: 2s;
    animation-name: clickMenuBar12;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
  }

  .bar2,
  .bar3 {
    width: 3.8vh;
    height: 0.6vh;
    background-color: #F2B33D;
    border-radius: 40px;
    transition: 0.4s;
    position: absolute;
  }

  .bar2 {
    animation-name: clickMenuBar2;
    animation-play-state: paused;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .bar3 {
    animation-name: clickMenuBar3;
    animation-play-state: paused;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    margin-top: 2.3vh;
  }

  @keyframes clickMenuBar11 {
    25% {
      transform: translate(0, 0.6vh);
    }
    49% {
      background-color: inherit;
    }
    50% {
      transform: translate(0, 1.6vh);
    }
    100% {
      background-color: inherit;
    }
}

  @keyframes clickMenuBar12 {
  25% {
    transform: translate(0, 0.6vh);
  }
  49% {
    background-color: inherit;
  }
  50% {
    transform: translate(0, 1.6vh);
  }
  100% {
    background-color: inherit;
  }
}

@keyframes clickMenuBar2 {
  25% {
    transform: rotate(0deg);
  }
  49% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(30deg);
  }
  65% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(75deg);
  }
  80% {
    transform: rotate(90deg);
  }
  85% {
    transform: rotate(105deg);
  }
  90% {
    transform: rotate(120deg);
  }
  95% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes clickMenuBar3 {
  25% {
    transform: translate(0, -0.6vh);
  }
  50% {
    transform: translate(0, -1.2vh);
  }
  55% {
    transform: translate(0, -1.2vh) rotate(-15deg);
  }
  60% {
    transform: translate(0, -1.2vh) rotate(-30deg);
  }
  65% {
    transform: translate(0, -1.2vh) rotate(-45deg);
  }
  70% {
    transform: translate(0, -1.2vh) rotate(-60deg);
  }
  75% {
    transform: translate(0, -1.2vh) rotate(-75deg);
  }
  80% {
    transform: translate(0, -1.2vh) rotate(-90deg);
  }
  85% {
    transform: translate(0, -1.2vh) rotate(-105deg);
  }
  90% {
    transform: translate(0, -1.2vh) rotate(-120deg);
  }
  95% {
    transform: translate(0, -1.2vh) rotate(-135deg);
  }
  100% {
    transform: translate(0, -1.2vh) rotate(-135deg);
  }
}

  .sanduiche:hover .bar1-1,
  .sanduiche:hover .bar1-2,
  .sanduiche:hover .bar2,
  .sanduiche:hover .bar3 {
    background-color: #04d9d9;
  }

  .opened-box {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 13rem;
    top: 2vh;
    right: 1.4vh;
    padding: 0.1rem;
    transition: 0.4s;
    color: #F2B33D;

  }

  .opened-box .sanduiche {
    align-self: flex-end;
  }

  .navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
  }

  .btt {
    color: #F2B33D;
    text-decoration: none;
    border-radius: 10px;
    border: solid #F2B33D 0.5vh;
    transition: 0.8s;
    opacity: 0.6;
    text-align: center;
    width: 10rem;
  }

  .btt:hover {
    background-color: #0D0D0D;
    border:solid #04d9d9 0.5vh;
    color: #04d9d9;
    opacity: 1;
    transition: 0.5s;
    
  }
  .opened-box a{
    margin: 0.2rem auto;
  }

  .opened-box a:hover {
    transform: scale(1.2);
  }

  #sticky-home {
    background-color: #0D0D0D;
    position:fixed;
    width: 2rem;
    height: 3rem;
    border-radius: 10px 0 0 10px;
    top: 70vh;
    right: 0;
    opacity: 0.7;
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index: 2;
    transition: 0.4s;
  }

  #sticky-home i {
    display: none;
  }

  #sticky-home:hover {
    width: 8rem;
    transition: 0.4s;
  }

  #sticky-home:hover i {
    display: unset;
    color: #BF6B04;
    font-size: x-large;
  }

  #sticky-home i:hover {
    color:#04BF8A;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: mandatory x;
  }

  #home {
    border-radius: 40px;
    align-items: stretch;
    background-image: url(./imagens/construction-1921518.jpg);
    background-size: cover;
    color: #F2B33D;
    justify-content: space-around;
  }

  #tit {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
  }

  #tit h2 {
    color: #04D9D9;
    flex-grow: 1;
    flex-shrink: 1;
  }
  #tit h3 {
    color: #F2B33D;
    flex-grow: 1;
    flex-shrink: 2;
    font-size: small;
  }

  #home-img {
    display: flex;
    flex-grow: 5;
    align-items: flex-start;
  }
  #prof-pic {
    margin: 8% 8% 0 12%;
  }
  #prof-pic img {
    width: 80px;
    border-radius: 50%;
  }

  #home-logos {
    display: flex;
    flex-flow: column nowrap;
    justify-content:end;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: 10%;

  }

  #home-logos img {
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0.6;
    z-index: 1;
  }

  #home-logos img:hover {
    opacity: 1;
  }

  #saiba-mais {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #know-more {
    margin: 2vh 0;
  }

  .main-box {
    width: 85%;
    height: 80vh;
    margin: 12.5vh auto 7.5vh auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    color: #BF6B04;
  }

  .main-box h2 {
    text-align: center;
    height: 10%;
  }

  .main-box h3 {
    text-align: center;
    color: #04D9D9;
    font-size:medium;
  }

  .main-box p {
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .last-arrow:hover {
    color: #04BF8A;
  }

  .last-arrow {
    justify-self: flex-end;
    margin-bottom: 1vh;
  }

 .contato div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .contato a {
    width: 15rem;
    margin: 0.3rem auto;
  }

  footer {
    background-color: #0D0D0D;
    color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5vh;
    bottom: 0;
    z-index: 1;
    overflow: visible;
  }

  .stickers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin: auto 0.3rem;
    width: 20%;
  }

  .contact:hover {
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 20rem;
    padding: 0.1rem;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    opacity: 0.8;
  }

  .contact:hover span {
    display: unset;
    margin: 2rem 0 2rem 0;
  }

  .contact:hover i {
    margin: 1rem 0;
  }

  .footer-spans {
    transform: rotate(270deg);
    font-size:small;
    margin: none;
  }

  .contact:hover.linkedin {
    background-color: #0A66C2;
  }

  .contact:hover.gmail {
    background-image: linear-gradient(#4285F4, #C5221E, #EA4335, #FBBC04, #34A853 );
  }

  .contact:hover.whatsapp {
    background-color: #45C655;
  }

  .contact:hover.github {
    background-color: #24292F;
  }

  #feedbackid {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 0.4s;
    flex-grow: 2;
  }

  #feedbackid h4 {
    font-size: x-small;
    color: #F2B33D;
  }

  #feedbackid:hover h4 {
    color: #04D9D9;
  }
  
  #feedbackid i {
    color: #04D9D9;
  }

  #feedbackid:hover i {
    color: #F2B33D;
  }

  #feedbackid:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
  }

  .main-box.area h2 {
    display: none; 
   }

}

@media (min-width: 349px) {
  /* pequena diferença em display do título de cada área */
  .main-box.area h2 {
   display: unset; 
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
